{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Coffee_machine</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <div class="coffee_header">
            <div class="buttons">
                <form action="{% url 'coffee_machine:coffee_machine' %}" method="POST">
                    {% csrf_token %}
                    {{ form.user_choice }}
                        <button name="user_choice" value="espresso" class="button button1" >
                            <img src="{% static 'coffee_machine/images/button.png' %}">
                        </button>

                    <div class="coffee_header_buttons_text coffee_header_button_one_text">
                        <svg width="130px" height="130px" >
                            <path id="curve" d="M 0 30 C 0 30, 40 0, 70 30"></path>
                            <text class="text" font-size="15px" text-anchor="middle">
                                <textPath class="text__path" href="#curve" startOffset="50%">Espresso</textPath>
                            </text>
                        </svg>
                    </div>

                        <button name="user_choice" value="latte" class="button button2" >
                            <img src="{% static 'coffee_machine/images/button.png' %}">
                        </button>

                    <div class="coffee_header_buttons_text coffee_header_button_two_text">
                        <svg width="130px" height="130px">
                            <path id="curve" d="M 0 30 C 0 30, 40 0, 70 30"></path>
                            <text class="text" font-size="15px" text-anchor="middle">
                                <textPath class="text__path" href="#curve" startOffset="50%">Latte</textPath>
                            </text>
                        </svg>
                    </div>

                        <button name="user_choice" value="cappuccino" class="button button3" >
                            <img src="{% static 'coffee_machine/images/button.png' %}">
                        </button>

                    <div class="coffee_header_buttons_text coffee_header_button_three_text">
                        <svg width="130px" height="130px" >
                            <path id="curve" d="M 0 30 C 0 30, 40 0, 70 30"></path>
                            <text class="text" font-size="15px"  text-anchor="middle">
                                <textPath class="text__path" href="#curve" startOffset="50%">Cappuccino</textPath>
                            </text>
                        </svg>
                    </div>

                    <button name="user_choice" value="report" class="report" >Report
                            <img src="{% static 'coffee_machine/images/button.png' %}">
                        </button>

                </form>
            </div>
                <div class="coffee_header_display">
                            <ul>
                                {% for message in messages %}
                                    <li class="coffee_message"><pre>{{ message | safe }}</pre></li>
                                {% endfor %}
                            </ul>
                </div>

            <div class="coffee_header_details">
                <form action="{% url 'coffee_machine:coffee_machine' %}" method="POST">
                    {% csrf_token %}
                    {{ form.user_choice }}
                    <button class="accept" type="submit" name="user_choice" value="accept">ACCEPT</button>
                    <button class="reset" type="submit" name="user_choice" value="reset">RESET</button>
                </form>
            </div>

            <div class="coffee_header_text">Please insert coins here ➡</div>
        </div>
        <div class="coffee_medium">
            <div id="pouringAnimation"></div>
            <div class="coffee_medium_exit"></div>
            <div class="coffee_medium_cup"></div>
        </div>
        <div class="coffee_footer"></div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        function playPouringAnimation(coffeeType) {
            var pouringAnimation = document.getElementById('pouringAnimation');

            pouringAnimation.innerHTML = '';

            var liquidDiv = document.createElement('div');
            liquidDiv.className = 'coffee-medium__liquid';

            var smokeDivOne = document.createElement('div');
            smokeDivOne.className = 'coffee-medium__smoke coffee-medium__smoke-one';

            var smokeDivTwo = document.createElement('div');
            smokeDivTwo.className = 'coffee-medium__smoke coffee-medium__smoke-two';

            var smokeDivThree = document.createElement('div');
            smokeDivThree.className = 'coffee-medium__smoke coffee-medium__smoke-three';

            var smokeDivFour = document.createElement('div');
            smokeDivFour.className = 'coffee-medium__smoke coffee-medium__smoke-for';

            pouringAnimation.appendChild(liquidDiv);
            pouringAnimation.appendChild(smokeDivOne);
            pouringAnimation.appendChild(smokeDivTwo);
            pouringAnimation.appendChild(smokeDivThree);
            pouringAnimation.appendChild(smokeDivFour);

            pouringAnimation.style.display = 'block';

            setTimeout(function () {
                pouringAnimation.style.display = 'none';
            }, 5000);
        }

        var coffeeReadyMessages = document.querySelectorAll('.coffee_message');

        if (coffeeReadyMessages.length > 0) {
            var lastCoffeeReadyMessage = coffeeReadyMessages[coffeeReadyMessages.length - 1];

            if (lastCoffeeReadyMessage.textContent.includes('is ready')) {
                playPouringAnimation();
            }
        }
    });
</script>

</body>
</html>