{% extends "movies_collections/base.html" %}
{% load i18n %}
{% block body %}

<div class="container">
    <div class="row mb-3">
        <div class="col-5 h1">{% trans "Edytuj profil" %} {{ form.instance.username }}</div>
    </div>
    <form id="user_form" action="{% url 'edit_user' form.instance.username %}" method="POST">{% csrf_token %}

        <div class="row mb-3">
            <div class="col-2 col-form-label"><label for="{{ form.new_email.id_for_label }}">{% trans "Nowy adres email" %}</label></div>
            <div class="col-4">
                {{ form.new_email }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 col-form-label"><label for="{{ form.new_password.id_for_label }}">{% trans "Nowe hasło" %}</label></div>
            <div class="col-4">
                {{ form.new_password }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2 col-form-label"><label for="{{ form.confirm_new_password.id_for_label }}">{% trans "Potwierdź nowe hasło" %}</label></div>
            <div class="col-4">
                {{ form.confirm_new_password }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-2"></div>
            <div class="col-2"><input type="submit" value="{% trans 'Wyślij' %}" class="btn btn-primary"></div>
        </div>

    </form>
</div>
{% endblock %}
