{% extends "tictactoe/base.html" %}
{% load i18n %}
{% block body %}

<style>
    .modal-content {
        color: #000;
        background-color: #fff;
    }
</style>

<div class="row">
    <table class="table table-info">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'Nazwa pokoju' %}</th>
            <th scope="col">{% trans 'Założyciel pokoju' %}</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}
        <tr class="table-info">
            <td class="table-info">{{ forloop.counter }}</td>
            <td class="table-info">{{ game.room_name }}</td>
            <td class="table-info">{{game.game_creator}}</td>
            <td class="table-info">{% if game.is_private %} {% trans '(Prywatna gra)' %} {% endif %}
            </td>
            <td class="table-info">
                <button type="button" class="btn btn-primary join-game" data-room-name="{{ game.room_name }}">
                {% trans 'Dołącz' %}
                </button>

                <div class="modal fade" id="myModal{{ game.room_name }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{% trans 'Dołącz do pokoju' %}: {{ game.room_name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'join_game' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="room_name" value="{{ game.room_name }}">
                                    <label for="modalUsernameInput">{% trans 'Pseudonim' %}</label>
                                    <input type="text" class="form-control" id="modalUsernameInput" name="username" placeholder="{% trans 'Podaj swój pseudonim' %}" required>
                                    {% if game.is_private %}
                                        <label for="password">{% trans 'Hasło' %}:</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="{% trans 'Podaj hasło' %}" required>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary" id="confirmUsernameBtn">{% trans 'Dołącz do gry' %}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.join-game').forEach(function(button) {
            button.addEventListener('click', function() {
                var roomName = button.getAttribute('data-room-name');
                $('#myModal' + roomName).modal('show');
            });
        });

        document.getElementById('confirmUsernameBtn').addEventListener('click', function() {
            var modalUsername = $('#modalUsernameInput').val();
            var roomName = $('#myModal' + roomName).data('room-name');
            $('#myModal' + roomName + ' #username').val(modalUsername);
            $('#myModal' + roomName).modal('hide');
        });
    });
</script>

<button type="button" class="btn btn-primary" style="margin-bottom: 30px;" onclick="window.location.href='{% url 'home' %}'">{% trans 'Menu główne' %}</button>
{% endblock %}
