{% extends "tictactoe/base.html" %}
{% load static %}
{% load i18n %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script>
   let gameMode = 'multiPlayer';
   let translations = {
       notYourTurn: "{% trans 'To nie Twoja runda' %}",
       waitForOpponent: "{% trans 'Czekam na przeciwnika' %}",
       thisPlaceIsNotEmpty: "{% trans 'To miejsce jest zajęte' %}",
       draw: "{% trans 'Remis' %}",
       playerWin: "{% trans 'wygrywa gre' %}",
       yourTurn: "{% trans 'Twoja kolej' %}",
       join: "{% trans 'dołączył do pokoju' %}",
       left: "{% trans 'opuścił pokój' %}",
   };
</script>
<script src="{% static 'tictactoe/tictactoe.js' %}" charset="utf-8"></script>


<div class="container">
    <div class="row">
        <div class="col">
          <div class="game flex-column">
              <div class="h4 pt-2" style="display: flex; justify-content: space-between;">
                  <div class="h4 pt-2">O: {{ game_creator.username }}</div>
                  <div id="opponent" class="h4 pt-2">X: {{ game_opponent.username }}</div>
              </div>
            <div class="boardcontainer">
                <div class="board">
                    <div data-cell-index="0" class="space"></div>
                    <div data-cell-index="1" class="space"></div>
                    <div data-cell-index="2" class="space"></div>
                    <div data-cell-index="3" class="space"></div>
                    <div data-cell-index="4" class="space"></div>
                    <div data-cell-index="5" class="space"></div>
                    <div data-cell-index="6" class="space"></div>
                    <div data-cell-index="7" class="space"></div>
                    <div data-cell-index="8" class="space"></div>

                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <form id="chat-form">
            <div class="form-group">
                <div id="defaultInfoMessage" class="h4 pt-2" style="height: 100%; display: flex"></div>
                <label for="chat-text" class="h2 pt-2">{% trans 'Czat' %}</label>
                <textarea class="form-control" id="chat-text" rows="10" readonly></textarea><br>
            </div>
            <div class="form-group">
                <input class="form-control" id="input" type="text"><br>
            </div>
            <input class="btn btn-primary" id="submit" type="button" value="{% trans 'Wyślij' %}">
        </form>
        </div>
    </div>



</div>

<button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'home' %}'">{% trans 'Menu główne' %}</button>

{{ room_name|json_script:"room-name" }}
{{ username|json_script:"user_username" }}
<!--<script>-->
<!--    const user_username = JSON.parse(document.getElementById('user_username').textContent);-->
<!--    const roomName = JSON.parse(document.getElementById('room-name').textContent);-->
<!--    const chatTextDom = document.querySelector('#chat-text');-->
<!--    const infoMessageDom = document.querySelector('#info-message');-->

<!--    const languagePath = window.location.pathname.split('/')[1];-->
<!--    const gameSocket = new WebSocket(-->
<!--        'ws://' +-->
<!--        window.location.host +-->
<!--        '/' + languagePath +-->
<!--        '/ws/tictactoe/multi_player/' +-->
<!--        roomName +-->
<!--        '/'-->
<!--    );-->

<!--    document.querySelector('#chat-form').onsubmit = function (e) {-->
<!--        e.preventDefault();-->
<!--            const messageInputDom = document.querySelector('#input');-->
<!--            const message = messageInputDom.value.trim();-->

<!--            if (message !== '') {-->
<!--                gameSocket.send(JSON.stringify({-->
<!--                    'message': message,-->
<!--                    'username': user_username,-->
<!--                }));-->
<!--                messageInputDom.value = '';-->
<!--            }-->
<!--        };-->



<!--    document.querySelector('#submit').onclick = function (e) {-->
<!--            const messageInputDom = document.querySelector('#input');-->
<!--            const message = messageInputDom.value.trim();-->

<!--            if (message !== '') {-->
<!--                gameSocket.send(JSON.stringify({-->
<!--                    'message': message,-->
<!--                    'username': user_username,-->
<!--                }));-->
<!--                messageInputDom.value = '';-->
<!--            }-->
<!--        };-->


<!--    gameSocket.onmessage = function (e) {-->
<!--        const data = JSON.parse(e.data);-->
<!--        if (data.type === 'chat_message') {-->
<!--            document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n');-->
<!--            chatTextDom.scrollTop = chatTextDom.scrollHeight;-->
<!--        } else if (data.type === 'system_message') {-->
<!--            infoMessageDom.style.display = 'block';-->
<!--            infoMessageDom.innerText = data.message;-->
<!--        }-->
<!--    };-->

<!--</script>-->
{% endblock %}